/* google-font */
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Roboto&family=Ubuntu&display=swap');

/* font-family: 'Cantarell', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

:root {
    --primary: #30c39e;
    --white: #fff;
	--secondary: #333333;
	--optaional: #666666;
	--last: #eeeeee;
	--dark: #212529;
    --gray: #6c757d;
    --gray-dark: #343a40;
    
}
.container-sm{
    padding: 10px 50px;
}
/* start header section */
header{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.fa-brands{
    color: var(--primary);
    font-size: 32px;
    line-height: 38px;
}
.brand-logo{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
}
.navbar-nav .nav-item .active{
    color: var(--primary) !important;
}
.nav-link:hover{
    color: var(--primary) !important;
}
.content-part{
    padding-top: 180px;
    font-family: 'Roboto', sans-serif;
    color: var(--white);
}
.content-part h6{
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 10px;
}
.content-part h1{
    color: var(--primary);
    font-size: 65px;
    line-height: 73px;
    padding-bottom: 15px;
}
.content-part h5{
    font-size: 22px;
    line-height: 28px;
    font-family: 'Cantarell', sans-serif;
    font-weight: 600;
}
.content-part p{
    font-size: 16px;
    line-height: 36px;
    max-width: 700px;
    padding: 10px 0;
    word-spacing: 2px;
    padding-bottom: 30px;
}
.content-link{
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 11px 35px;
    display: inline-block;
    transition: all 0.5s ease;
    margin-bottom: 80px;
}
.content-link:hover{
    background: var(--primary);
    color: var(--white);
}
.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2800, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: #fff;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("../img/menu.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-nav{
    text-align: center;
  }
/* end header section  */
/* start about-section */
#about-section{
    padding-top: 40px;
}
.title{
    /* font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; */
    margin: 10px auto;
    width: fit-content;
    font-size: 45px;
    line-height: 54px;
    color: var(--secondary);
    position: relative;
}
.title::after{
    content: '';
    height: 3px;
    background: var(--secondary);
    left: 50%;
    transform: translate(-50%);
    bottom: -15px;
    position: absolute;
    width: 40%;
}
.about-first-part-p{
    /* font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; */
    font-size: 16px;
    line-height: 30px;
    color: var(--optaional);
    padding: 25px 0 30px;
}
.download{
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    padding: 11px 35px;
    border: 2px solid #0a8ea0;
    color: #fff;
    background: #0a8ea0;
    transition: all 0.5s;
    display: inline-block;
}
.download:hover{
    border-color: var(--secondary);
    color: var(--secondary);
    background: none;
}
.download i{
    font-size: 20px;
}
.about-third-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-third-p{
    font-size: 16px;
    line-height: 25px;
    color: var(--optaional);
}
/* end about-section  */
/* start service-section */
#service-section{
    background: var(--primary);
}
#service-section .title2{
    font-size: 45px;
    line-height: 54px;
    color: var(--secondary);
	color: var(--white);
	position: relative;
    margin: 5px auto;
    width: fit-content;
}
#service-section .title2::after{
	content: '';
	position: absolute;
	width: 40%;
	height: 3px;
	background: var(--white);
	left: 50%;
	transform: translateX(-50%);
	bottom: -10px;
	text-align: center;
}
#service-section h4{
    font-size: 20px;
	line-height: 24px;
	font-weight: 600;
}
.fa-sharp,.fa-solid{
    font-size: 35px;
}
.services-p{
    font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: var(--white);
	text-transform: capitalize;
	padding-top: 15px;
}
/* end service-section */
/* start experience section */
.card-body{
    background: #f8f9fa;
}
#experience-section .card-text{
    font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: var(--optaional);
	text-transform: capitalize;
}
/* end experience section */
/* start blog-section */
#blog-section{
	background: url(../img/blog1.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
    padding: 40px 0 50px;
}
#blog-section .title2{
    font-size: 45px;
    line-height: 54px;
    color: var(--secondary);
	color: var(--white);
	position: relative;
    margin: 5px auto;
    width: fit-content;
}
#blog-section .title2::after{
	content: '';
	position: absolute;
	width: 40%;
	height: 3px;
	background: var(--white);
	left: 50%;
	transform: translateX(-50%);
	bottom: -10px;
	text-align: center;
}
.blog-content{
    padding-top: 80px;
}
.blog-content p{
    font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #cccccc;
	text-transform: capitalize;
	padding: 15px 0 20px;
}
.blog-content-h{
	font-size: 20px;
	line-height: 30px;
	font-weight: 600;
	color: var(--secondary);
	text-transform: capitalize;	
}
.blog-content-p2{
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	color: #999999;
	text-transform: capitalize;
	padding: 10px 0;
}
.blog-read{
    font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	color: var(--primary);
	text-transform: capitalize;
    text-decoration: none;
}
/* end blog section */
/* start hire-section */
#hire-section{
    background: #0a8ea0;
    color: var(--white);
}
.ulvinar p{
    font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	color: #dddddd;
	text-transform: capitalize;
	padding: 10px 0 30px;
    max-width: 730px;
    text-align: center;
    width: fit-content;
    margin: 5px auto;
}
.work-btn{
    text-decoration: none;
    background: var(--white);
    color: #0a8ea0;
    padding: 13px 35px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
	transition: all 0.5s;
}
.work-btn:hover{
    background: var(--dark);
    color: var(--white);
}
.hire-btn{
    text-decoration: none;
    background: var(--dark);
    color: var(--white);
    padding: 13px 35px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
	transition: all 0.5s;
}
.hire-btn:hover{
    background: var(--white);
    color: #0a8ea0;
}
/* end hire-section */
/* start contact section */
.contact-address i{
    font-size: 18px;
    color: var(--primary);
}
.contact-media i{
    font-size: 18px;
    color: var(--primary);
}
.contact-btn22{
    float: right;
    padding: 8px 35px;
    background: #0a8ea0;
    color: #fff;
    border: 2px solid #0a8ea0;
    transition: all 0.5s;
}
.contact-btn22:hover{
    background: none !important;
    border-color: var(--secondary);
    color: var(--secondary);
}
.form-control:focus {
    border-color: var(--secondary);
    box-shadow : none;
    /* box-shadow: 0 0 0 .25rem var(--secondary); */
  }
/* end contact section  */
/* start footer sction */
footer{
    background: var(--dark);
}
.media i{
    font-size: 25px;
    width: 40px;
    height: 40px;
    border: 1px solid var(--dark);
    background:  var(--secondary);
    text-align: center;
    color: #999999;
    transition: transform 0.5s ease;
    margin-bottom: 20px;

}
.media i:hover{
    transform: translateY(-5px);
}
/* end footer section */
